<app-employee-navbar></app-employee-navbar>
<div style="text-align: center;">
  <div class="card-container">
    <h3>Change Password</h3>
    <form class="block" #passwordForm = "ngForm" (ngSubmit)="changePassword(passwordForm)" style="text-align: left;">
      <label class="form-label">New Password</label>
      <div *ngIf="newPassword.touched && newPassword.errors?.['required']" class="error">Password is a required field</div>
      <input type="password" class="form-control" placeholder="Enter new password" aria-describedby="addon-wrapping" name="newPassword" [(ngModel)]="passwordData.newPassword" #newPassword="ngModel" required>
      <label class="form-label">Confirm Password</label>
      <div *ngIf="confirmPassword.touched && confirmPassword.errors?.['required']" class="error">Please confirm the password</div>
      <div *ngIf="confirmPassword.touched && passwordData.newPassword != passwordData.confirmPassword" class="error">Confirm password doesn't match</div>
      <input type="text" class="form-control" placeholder="Confirm new password" aria-describedby="addon-wrapping" name="confirmPassword" [(ngModel)]="passwordData.confirmPassword" #confirmPassword="ngModel" required>
      <button type="submit"  class="btn btn-primary" style="margin:20px 20px 0px 0px;" [disabled]="!passwordForm.valid || (passwordData.newPassword != passwordData.confirmPassword)">Submit</button>
      <button type="submit"  class="btn btn-primary" style="margin:20px 20px 0px 0px;" (click)="onCancel()">Cancel</button>
    </form>
  </div>
</div>
